externalSecrets:
  auth:
    provider: azure
    config:
      azureIdentity:
        vaultUrl: "https://{{ .CloudProvider.Config.KeyVaultName }}.vault.azure.net/"
        tenantId: "{{ .CloudProvider.Config.TenantId }}"
        clientId: "{{ .CloudProvider.Config.ClientId }}"

githubOrgAccess:
  prefapp:
    prefappBotToken:
      remoteRef: prefapp-bot-pat
  clients:
    {{ .Org }}:
      githubAppId:
        remoteRef: fs-argocd-app-id
      githubAppInstallationId:
        remoteRef: fs-argocd-{{ trimSuffix "-org" .Org }}-installation-id
      githubAppPrivateKey:
        remoteRef: fs-argocd-pem
