ComponentClaim:
  version: "1.0"
  type: service
  lifecycle: "production"
  platformOwner: group:{{ $.Org }}-all
  maintainedBy: []
{{- if $.DefaultGroupName }}
  owner: group:{{ $.DefaultGroupName }}
{{- else }}
  owner: group:{{ $.Org }}-all
{{- end }}
{{- if $.DefaultSystemName }}
  system: system:{{ $.DefaultSystemName }}
{{- else }}
  system: system:{{ $.Org }}-system
{{- end }}
  providers:
    github:
      sync:
        enabled: true
        period: 24h
      branchStrategy:
        name: gitflow
        defaultBranch: master
      orgPermissions: view
      visibility: private
      technology:
        stack: "node"
        version: "16"
      features: []

GroupClaim:
  providers:
    github:
      privacy: closed

UserClaim:
  providers:
    github:

SystemClaim:
  providers: {}

DomainClaim:
  providers: {}

TFWorkspaceClaim:
  providers:
    terraform:
      sync:
        policy: observe
        period: 24h
        enabled: true
      policy: apply

