states:
  github:
    repo: {{ $.Org }}/state-github
    crKinds:
      FirestartrGithubRepository:
      FirestartrGithubGroup:
      FirestartrGithubMembership:
      FirestartrGithubRepositoryFeature:
    workflows:
      hydrate: "hydrate_and_notify.yaml"
      notify: "notify_and_hydrate.yaml"
  catalog:
    repo: {{ $.Org }}/catalog
    crKinds:
      Domain:
      User:
      System:
      Component:
      Group:
      Resource:
    workflows:
      hydrate: "hydrate.yaml"
      notify: "notify.yaml"
  terraform:
    repo: {{ $.Org }}/state-infra
    crKinds:
      FirestartrTerraformWorkspace:
    workflows:
      hydrate: "hydrate.yaml"
      notify: "notify_and_hydrate.yaml"
