strategies:
  - name: gitflow
    defaultBranch: {{ or .DefaultBranch "main"}}
    branchProtections:

      - pattern: dev
        enforceAdmins: false
        requireSignedCommits: true
        allowsForcePushes: false
        allowDeletions: false
        requiredLinearHistory: true
        requiredPullRequestReviews:
          - dismissStaleReviews: true
            requireCodeOwnerReviews: true
            requiredApprovingReviewCount: 1

      - pattern: {{ or .DefaultBranch "main"}}
        enforceAdmins: false
        requireSignedCommits: true
        allowsForcePushes: false
        allowDeletions: false
        requiredLinearHistory: true
        requiredPullRequestReviews:
          - dismissStaleReviews: true
            requireCodeOwnerReviews: true
            requiredApprovingReviewCount: 1
