name: branchStrategies
apiVersion: firestartr.dev/v1
kind: ComponentClaim
expanderValues:
  strategies:
    - name: gitflow
      values:
        defaultBranch: {{ or .DefaultBranch "main"}}
        branchProtections:
          - branch: {{ or .DefaultBranch "main"}}
            statusChecks:
              - "pr_verify"
            requiredReviewersCount: 2
            requiredCodeownersReviewers: false
            enforceAdmins: true
            requireSignedCommits: true
            requireConversationResolution: false
