name: membership_base
apiVersion: firestartr.dev/v1
kind: UserClaim
defaultValues:
  context:
    backend:
      ref:
        kind: FirestartrProviderConfig
        name: {{ .CloudProvider.ProviderConfigName }}
    provider:
      ref:
        kind: FirestartrProviderConfig
        name: {{ .GithubApp.ProviderConfigName }}
  role: member
