name: repo_base
apiVersion: firestartr.dev/v1
kind: ComponentClaim
defaultValues:
  context:
    backend:
      ref:
        kind: FirestartrProviderConfig
        name: {{ .CloudProviderProviderConfigName }}
    provider:
      ref:
        kind: FirestartrProviderConfig
        name: {{ .GithubAppProviderConfigName }}
  firestartr:
    technology:
      stack: none
      version: none
    type: service
    lifecycle: production
  repo:
    allowMergeCommit: true
    allowSquashMerge: true
    allowRebaseMerge: true
    allowAutoMerge: false
    deleteBranchOnMerge: false
    autoInit: true
    archiveOnDestroy: true
    allowUpdateBranch: false
    hasIssues: true
    visibility: private
    defaultBranch: {{ or .DefaultBranch "main"}}
