name: orgsettings_base
apiVersion: firestartr.dev/v1
kind: OrgSettingsClaim
defaultValues:
  context:
    backend:
      ref:
        kind: FirestartrProviderConfig
        name: {{ .CloudProviderProviderConfigName }}
    provider:
      ref:
        kind: FirestartrProviderConfig
        name: {{ .GithubAppProviderConfigName }}
