name: orgwebhook_base
apiVersion: firestartr.dev/v1
kind: OrgWebhookClaim
defaultValues:
  context:
    backend:
      ref:
        kind: FirestartrProviderConfig
        name: {{ .CloudProviderProviderConfigName }}
    provider:
      ref:
        kind: FirestartrProviderConfig
        name: {{ .GithubAppProviderConfigName }}
