apiVersion: v1
kind: Secret
metadata:
  name: azure-creds
stringData:
  clientId: {{ .CloudProvider.Config.ClientId }}
  clientSecret: {{ .CloudProvider.Config.ClientSecret }}
  tenantId: {{ .CloudProvider.Config.TenantId }}
