{{ range $index, $claim := .Components }}
{{- if not $claim.Skipped }}
---
kind: ComponentClaim
version: "1.0"
type: service
lifecycle: production
{{- if $.DefaultSystemName }}
system: system:{{ $.DefaultSystemName }}
{{- else }}
system: system:{{ $.Org }}-system
{{- end }}
name: {{ $claim.Name }}
providers:
  github:
    description: {{ $claim.Description }}
    name: {{ default $claim.Name $claim.RepoName }}
    org: {{ $.Org }}
    visibility: private
    branchStrategy:
      name: none
      defaultBranch: {{ $claim.DefaultBranch }}
    actions:
      oidc:
        useDefault: false
        includeClaimKeys:
          - repo
    features:
      {{- range $index, $feature := $claim.Features }}
      - name: {{ $feature.Name }}
        version: {{ $feature.Version }}
      {{- end }}
    {{- if $.HasFreePlan }}
    secrets:
      actions:
        - name: FIRESTARTER_GITHUB_APP_PEM_FILE
          value: "ref:secretsclaim:pem-secrets:raw_pem"
        - name: FIRESTARTR_GITHUB_APP_PEM_FILE
          value: "ref:secretsclaim:pem-secrets:pem"
    {{- end }}
    {{- if or $.HasFreePlan $claim.Variables}}
    variables:
      actions:
        {{- range $index, $variable := $claim.Variables }}
        - name: {{ $variable.Name }}
          value: {{ $variable.Value }}
        {{- end }}
        {{- if $.HasFreePlan }}
        - name: "FIRESTARTER_GITHUB_APP_NAME"
          value: "{{ $.BotName }}"
        - name: "FIRESTARTER_WORKFLOW_DOCKER_IMAGE_TAG"
          value: "v{{ $.Firestartr.Version }}_slim"
        - name: "FIRESTARTR_CLI_VERSION"
          value: "{{ $.Firestartr.Version }}"
        {{- end }}
    {{- end }}
{{ end }}
{{ end }}
---
kind: SystemClaim
version: "1.0"
{{- if $.DefaultSystemName }}
name: {{ $.DefaultSystemName }}
{{- else }}
name: {{ $.Org }}-system
{{- end }}
{{- if $.DefaultDomainName }}
domain: domain:{{ $.DefaultDomainName }}
{{- else }}
domain: domain:{{ $.Org }}-domain
{{- end }}
{{- if $.DefaultGroupName }}
owner: group:{{ $.DefaultGroupName }}
{{- else }}
owner: group:{{ $.Org }}-all
{{- end }}
description: "The default system of {{ $.Org }}"
---
kind: DomainClaim
version: "1.0"
{{- if $.DefaultDomainName }}
name: {{ $.DefaultDomainName }}
{{- else }}
name: {{ $.Org }}-domain
{{- end }}
description: "The default domain of {{ $.Org }}"
{{- if $.DefaultGroupName }}
owner: group:{{ $.DefaultGroupName }}
{{- else }}
owner: group:{{ $.Org }}-all
{{- end }}
---
---
kind: SecretsClaim
lifecycle: production
name: pem-secrets
{{- if $.DefaultSystemName }}
system: system:{{ $.DefaultSystemName }}
{{- else }}
system: system:{{ $.Org }}-system
{{- end }}
version: "1.0"
providers:
  external_secrets:
    name: pem-secrets
    secretStore:
     kind: SecretStore
     name: parameterstore
    externalSecrets:
      refreshInterval: 1y
      secrets:
      - secretName: "raw_pem"
      - secretName: "pem"
