{{ range $index, $claim := .Components }}
{{- if not $claim.Skipped }}
---
kind: ComponentClaim
version: "1.0"
type: service
lifecycle: production
system: system:{{ $.Org }}-system
name: {{ $claim.Name }}
providers:
  github:
    description: {{ $claim.Description }}
    name: {{ default $claim.Name $claim.RepoName }}
    org: {{ $.Org }}
    visibility: private
    branchStrategy:
      name: none
      defaultBranch: {{ $claim.DefaultBranch }}
    actions:
      oidc:
        useDefault: false
        includeClaimKeys:
          - repo
    features:
      {{- range $index, $feature := $claim.Features }}
      - name: {{ $feature.Name }}
        version: {{ $feature.Version }}
      {{- end }}
{{ end }}
{{ end }}
---
kind: SystemClaim
version: "1.0"
name: {{ $.Org }}-system
domain: domain:{{ $.Org }}-domain
owner: group:{{ $.Org }}-all
description: "The principal system of {{ $.Org }}"
---
kind: DomainClaim
version: "1.0"
name: {{ $.Org }}-domain
description: "The main domain of {{ $.Org }}"
owner: group:{{ $.Org }}-all

