{{ range $index, $claim := .Components }}
{{- if not $claim.Skipped }}
---
kind: ComponentClaim
version: "1.0"
type: service
lifecycle: production
system: system:{{ $.DefaultSystemName }}
name: {{ $claim.Name }}
providers:
  github:
    description: {{ $claim.Description }}
    name: {{ default $claim.Name $claim.RepoName }}
    org: {{ $.Org }}
    visibility: private
    branchStrategy:
      name: none
      defaultBranch: {{ $claim.DefaultBranch }}
    actions:
      oidc:
        useDefault: false
        includeClaimKeys:
          - repo
    features:
      {{- range $index, $feature := $claim.Features }}
      - name: {{ $feature.Name }}
        version: {{ $feature.Version }}
      {{- end }}
    {{- if $.HasFreePlan }}
    secrets:
      actions:
        - name: FIRESTARTER_GITHUB_APP_PEM_FILE
          value: "ref:secretsclaim:pem-secrets:test-raw-pem"
        - name: FIRESTARTR_GITHUB_APP_PEM_FILE
          value: "ref:secretsclaim:pem-secrets:test-pem"
    {{- end }}
    {{- if or $.HasFreePlan $claim.Variables}}
    vars:
      actions:
        {{- range $index, $variable := $claim.Variables }}
        - name: {{ $variable.Name }}
          value: {{ $variable.Value }}
        {{- end }}
        {{- if $.HasFreePlan }}
        - name: "FIRESTARTER_GITHUB_APP_NAME"
          value: "{{ $.BotName }}"
        - name: "FIRESTARTER_WORKFLOW_DOCKER_IMAGE_TAG"
          value: "v{{ $.Firestartr.Version }}_slim"
        - name: "FIRESTARTR_CLI_VERSION"
          value: "{{ $.Firestartr.Version }}"
        {{- end }}
    {{- end }}
{{ end }}
{{ end }}
---
kind: SystemClaim
version: "1.0"
name: {{ $.DefaultSystemName }}
domain: domain:{{ $.DefaultDomainName }}
owner: group:{{ $.DefaultFirestartrGroup }}
description: "The default system of {{ $.Org }}"
---
kind: DomainClaim
version: "1.0"
name: {{ $.DefaultDomainName }}
description: "The default domain of {{ $.Org }}"
owner: group:{{ $.DefaultFirestartrGroup }}
---
kind: GroupClaim
version: "1.0"
name: {{ $.DefaultFirestartrGroup }}
description: "The default group for the firestartr application"
type: business-unit
profile:
  displayName: {{ $.DefaultFirestartrGroup }}
members: []
providers:
  github:
    name: {{ $.DefaultFirestartrGroup }}
    org: {{ $.Org }}
---
kind: SecretsClaim
lifecycle: production
name: pem-secrets
system: system:{{ $.DefaultSystemName }}
version: "1.0"
providers:
  external_secrets:
    name: pem-secrets
    secretStore:
      kind: SecretStore
      name: aws
    externalSecrets:
      refreshInterval: 24h
      secrets:
      - secretName: "test-raw-pem"
      - secretName: "test-pem"
    pushSecrets:
      - secretName: test
        generator:
          name: test-generator

