---
# Firestartr group
kind: GroupClaim
version: "1.0"
name: {{ $.DefaultFirestartrGroup }}
annotations:
  firestartr.dev/bootstrapped: "true"
description: "The default group for the firestartr application"
type: business-unit
profile:
  displayName: {{ $.DefaultFirestartrGroup }}
members: []
providers:
  github:
    name: {{ $.DefaultFirestartrGroup }}
    org: {{ $.Org }}
---
# Firestartr system
kind: SystemClaim
version: "1.0"
name: firestartr
domain: domain:platform
owner: group:{{ $.DefaultFirestartrGroup }}
description: "The firestartr system"
---
# Firestartr domain
kind: DomainClaim
version: "1.0"
name: platform
description: "The firestartr platform domain"
owner: group:{{ $.DefaultFirestartrGroup }}
---
# The default system for the organization
kind: SystemClaim
version: "1.0"
name: {{ $.DefaultSystemName }}
domain: domain:{{ $.DefaultDomainName }}
owner: group:{{ $.Org }}-all
description: "The default system of {{ $.Org }}"
---
# The default domain for the organization
kind: DomainClaim
version: "1.0"
name: {{ $.DefaultDomainName }}
description: "The default domain of {{ $.Org }}"
owner: group:{{ $.Org }}-all
---
kind: SecretsClaim
lifecycle: production
name: firestartr-secrets
system: system:firestartr
version: "1.0"
providers:
  external_secrets:
    name: firestartr-secrets
    secretStore:
      kind: SecretStore
      name: aws  # This will be swapped with {{ $.FinalSecretStoreName }} before uploading
    externalSecrets:
      refreshInterval: 24h
      secrets:
      - secretName: "github-webhook-secret"
        remoteRef: "{{ $.WebhookSecretRef }}"
      - secretName: "prefapp-bot-pat"
        remoteRef: "{{ $.PrefappBotPatSecretRef }}"
      - secretName: "firestartr-cli-version"
        remoteRef: "/firestartr/{{ $.Customer }}/firestartr-cli-version"
      - secretName: "fs-state-pem"
        remoteRef: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-state/pem"
      - secretName: "fs-checks-pem"
        remoteRef: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-checks/pem"
      - secretName: "fs-import-pem"
        remoteRef: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-import/pem"
      - secretName: "fs-state-appid"
        remoteRef: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-state/app-id"
      - secretName: "fs-checks-appid"
        remoteRef: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-checks/app-id"
      - secretName: "fs-import-appid"
        remoteRef: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-import/app-id"
---
kind: OrgWebhookClaim
version: "1.0"
name: firestartr-webhook
annotations:
  firestartr.dev/bootstrapped: "true"
providers:
  github:
    name: firestartr-webhook
    orgName: {{ $.Org }}
    webhook:
      url: {{ $.WebhookUrl }}
      active: true
      contentType: json
      events:
        - push
        - pull_request
      secretRef: ref:secretsclaim:firestartr-secrets:github-webhook-secret
