---
# Firestartr group
kind: GroupClaim
version: "1.0"
name: {{ $.DefaultFirestartrGroup }}
description: "The default group for the firestartr application"
type: business-unit
profile:
  displayName: {{ $.DefaultFirestartrGroup }}
members: []
providers:
  github:
    name: {{ $.DefaultFirestartrGroup }}
    org: {{ $.Org }}
---
# Firestartr system
kind: SystemClaim
version: "1.0"
name: firestartr
domain: domain:platform
owner: group:{{ $.DefaultFirestartrGroup }}
description: "The firestartr system"
---
# Firestartr domain
kind: DomainClaim
version: "1.0"
name: platform
description: "The firestartr platform domain"
owner: group:{{ $.DefaultFirestartrGroup }}
---
# The default system for the organization
kind: SystemClaim
version: "1.0"
name: {{ $.DefaultSystemName }}
domain: domain:{{ $.DefaultDomainName }}
owner: group:{{ $.Org }}-all
description: "The default system of {{ $.Org }}"
---
# The default domain for the organization
kind: DomainClaim
version: "1.0"
name: {{ $.DefaultDomainName }}
description: "The default domain of {{ $.Org }}"
owner: group:{{ $.Org }}-all
---
kind: SecretsClaim
lifecycle: production
name: firestartr-secrets
system: system:{{ $.DefaultSystemName }}
version: "1.0"
providers:
  external_secrets:
    name: firestartr-secrets
    secretStore:
      kind: SecretStore
      name: aws  # This will be swapped with {{ $.FinalSecretStoreName }} before uploading
    externalSecrets:
      refreshInterval: 24h
      secrets:
      - secretName: "prefapp-bot-pat"
        remoteRef: "/firestartr/{{ $.Org }}/prefapp-bot-pat"
      - secretName: "firestartr-cli-version"
        remoteRef: "/firestartr/{{ $.Org }}/firestartr-cli-version"
      - secretName: "fs-state-pem"
        remoteRef: "/firestartr/{{ $.Org }}/fs-{{ $.Org }}-state/pem"
      - secretName: "fs-checks-pem"
        remoteRef: "/firestartr/{{ $.Org }}/fs-{{ $.Org }}-checks/pem"
      - secretName: "fs-import-pem"
        remoteRef: "/firestartr/{{ $.Org }}/fs-{{ $.Org }}-import/pem"
      - secretName: "fs-state-appid"
        remoteRef: "/firestartr/{{ $.Org }}/fs-{{ $.Org }}-state/app-id"
      - secretName: "fs-checks-appid"
        remoteRef: "/firestartr/{{ $.Org }}/fs-{{ $.Org }}-checks/app-id"
      - secretName: "fs-import-appid"
        remoteRef: "/firestartr/{{ $.Org }}/fs-{{ $.Org }}-import/app-id"
