kind: OrgWebhookClaim
version: "1.0"
name: firestartr-webhook
providers:
  github:
    name: firestartr-webhook
    orgName: {{ $.Org }}
    webhook:
      url: https://{{ $.Owner }}.events.firestartr.dev
      active: true
      contentType: json
      events:
        - push
        - pull_request
      secretRef: ref:secretsclaim:firestartr-secrets:github-webhook-secret
