# Credentialsfile.yaml
---
cloudProvider:
  name: aws
  config:
    bucket: tfstate-<customer name>
    region: "eu-west-1"
    # You need to generate a temporary access key and secret key for the AWS credentials, using for example AWS CLI or AWS Console, and provide them in the fields below
    # from the AWS CLI, you can generate the temporary credentials
    # with the command `aws sts get-session-token --duration-seconds 3600`, which will give you credentials valid for 1 hour
    access_key: ""
    secret_key: ""
    token: ""
  source: hashicorp/aws
  type: aws
  version: ~> 4.0
github:
  prefappBotPat: # Prefapp Bot's PAT for the customer, to access prefapp/features repository and use the features within the claims
  operatorPat: # GitOps operator's PAT for the customer, used to push to the git repositories with the generated claims and CRs
