apiVersion: v1
kind: Secret
metadata:
  name: azure-creds
stringData:
  clientId: {{ .CloudProvider.Config.BootstrapClientId }}
  clientSecret: {{ .CloudProvider.Config.BootstrapClientSecret }}
  tenantId: {{ .CloudProvider.Config.TenantId }}
