apiVersion: external-secrets.io/v1
kind: SecretStore
metadata:
  name: firestartr-kv
spec:
  provider:
    azurekv:
      tenantId: "{{ .CloudProvider.Config.TenantId }}"
      vaultUrl: "https://{{ .CloudProvider.Config.KeyVaultName }}.vault.azure.net"
      authSecretRef:
        clientId:
          name: azure-creds
          key: clientId
        clientSecret:
          name: azure-creds
          key: clientSecret
