apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bootstrap-secrets
spec:
  data:
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "fs-admin-pem"
      metadataPolicy: None
    secretKey: fs-admin-pem
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "fs-admin-app-id"
      metadataPolicy: None
    secretKey: fs-admin-appid
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "fs-admin-{{ $.GhOrgLowerCase }}-installation-id"
      metadataPolicy: None
    secretKey: fs-admin-installationid
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "prefapp-bot-pat"
      metadataPolicy: None
    secretKey: prefapp-bot-pat
  refreshInterval: 24h0m0s
  secretStoreRef:
    kind: SecretStore
    name: azure
  target:
    creationPolicy: Owner
    deletionPolicy: Delete
    name: bootstrap-secrets
