apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: bootstrap-secrets
spec:
  data:
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-admin/pem"
      metadataPolicy: None
    secretKey: fs-admin-pem
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-admin/app-id"
      metadataPolicy: None
    secretKey: fs-admin-appid
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}-admin/{{ $.Org }}/app-installation-id"
      metadataPolicy: None
    secretKey: fs-admin-installationid
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "/firestartr/{{ $.Customer }}/prefapp-bot-pat"
      metadataPolicy: None
    secretKey: prefapp-bot-pat
  refreshInterval: 24h0m0s
  secretStoreRef:
    kind: SecretStore
    name: aws
  target:
    creationPolicy: Owner
    deletionPolicy: Delete
    name: bootstrap-secrets
