apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: operator-secrets
spec:
  data:
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}/pem"
      metadataPolicy: None
    secretKey: fs-pem
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}/app-id"
      metadataPolicy: None
    secretKey: fs-appid
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "/firestartr/{{ $.Customer }}/fs-{{ $.Customer }}/{{ $.Org }}/app-installation-id"
      metadataPolicy: None
    secretKey: fs-installationid
  - remoteRef:
      conversionStrategy: Default
      decodingStrategy: None
      key: "/firestartr/{{ $.Customer }}/prefapp-bot-pat"
      metadataPolicy: None
    secretKey: prefapp-bot-pat
  refreshInterval: 24h0m0s
  secretStoreRef:
    kind: SecretStore
    name: aws
  target:
    creationPolicy: Owner
    deletionPolicy: Delete
    name: operator-secrets
