---
apiVersion: external-secrets.io/v1alpha1
kind: PushSecret
metadata:
  name: {{ .Name }}
  namespace: default # Adjust to your target namespace
spec:
  secretStoreRefs:
    - name: {{ .SecretStore }}
      kind: SecretStore
  
  selector:
    secret:
      name: {{ .KubernetesSecret }}
  
  data:
    - match:
        secretKey: {{ .KubernetesSecretKey }}
        remoteRef:
          remoteKey: {{ .ParameterName }}
  refreshInterval: "1h" # How often to check the K8s Secret for changes and push them
