---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .KubernetesSecret }}
  namespace: default # Must match the namespace in PushSecret
type: Opaque
stringData:
  {{ .KubernetesSecretKey}}: {{ .Value }}
